body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg,#adc1cb,#3fb96a,#0c3317);
    min-height: 100vh;
    body{
    display:flex;
    justify-content:center;
    align-items:center;
}

}
h1{
    color: blueviolet;
}

form{
    background-color: rgb(194, 228, 228);
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.8);
    margin-bottom: 15px;

}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
button:hover{
    background-color: hsl(0, 100%, 50%);
}

